

nav {
    width: 285px;
}

#menu-list {
    list-style-type: none;
}

#menu,
#menu-list {
    padding: 0;
    width: 285px;
    position: fixed;
    left: -285px;
    height: 100vh;
    background-color: #1d1e1f;
}

#menu-list li {
    display: block;
    color: white;
    font-size: 1.3rem;
    padding: 10px 0 10px 40px;
    margin: 0 15px;
}

#menu-list li:nth-child(n+2) {
    border-bottom: 1px solid grey;
}

#menu-list :nth-child(2) {
    padding-top: 60px;
}

.main-photo {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/pizza.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#close-icon img {
    width: 40px;
    height: 40px;
    float: right;
    margin: 15px;
    cursor: pointer;
}

.icon-menu img {
    width: 70px;
    height: 60px;
    display: inline;
    padding: 15px;
    cursor: pointer;
}

.icon-menu p {
    display: inline;
    color: white;
    font-size: 1.4rem;
}
